<div>
    <p>Select a tutoring time:</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Times Available</th>
        </tr>
        <tr>
            <td>Tutor 1</td>
            <td>name@kettering.edu</td>
            <td>TBA</td>
        </tr>
        <tr>
            <td>Tutor 2</td>
            <td>name@kettering.edu</td>
            <td>TBA</td>
        </tr>
        <tr>
            <td>Tutor 3</td>
            <td>name@kettering.edu</td>
            <td>TBA</td>
        </tr>
    </table>
    <a routerLink="/tutorsignup"><input type="submit" value="Back"></a>
</div>
